@charset "utf-8";
/* CSS Document */

table{
	border-collapse:collapse;
}
td{
	position: relative;
	border: 1px solid #000;
	width: 100px;
	height: 30px;
	text-align: center;
}
 table thead td:nth-child(n+2):before {
	 content: "";
	 position: absolute;
	 top: 5px;
	 right: 8px;
     border: 5px solid transparent;
	 border-bottom-color: #000;   
        }
 table thead td:nth-child(n+2):after {
	 content: "";
	 position: absolute;
	 top: 20px;
	 right: 8px;
     border: 5px solid transparent;
	 border-top-color: #000;   
        }
button{
	width: 60px;
	height: 30px;

	margin-right: 50px;
}